Options -Indexes
Options -MultiViews
Options +FollowSymlinks
AddDefaultCharset UTF-8
ServerSignature Off
FileETag none

RedirectMatch 403 /\.git.*

<Files ".htaccess">
Order allow,deny
Deny from all
</Files>
<Files ".gitattributes">
Order allow,deny
Deny from all
</Files>
<Files "LICENSE">
Order allow,deny
Deny from all
</Files>
<Files "CREDITS">
Order allow,deny
Deny from all
</Files>
<Files "README.md">
Order allow,deny
Deny from all
</Files>
